body {
  position: static;
  margin: 0;
  padding: 0;
  width: 1000px;
}

header {
  position: relative;
  font-family: "Roboto Slab", serif;
  text-align: center;
  background-color: black;
  color: whitesmoke;
  border: 10px inset red;
  height: 150px;
  width: 1000px;
}

footer {
  position: relative;
  text-align: center;
  background-color: grey;
  color: whitesmoke;
  border: 10px solid grey;
  bottom: 0;
  margin-top: 10%;
  padding: 0;
  width: 1000px;
}

ul {
  margin: 0;
}

li {
  width: fit-content;
}

.Continents {
  position: relative;
  bottom: 10%;
}

.Countries {
  width: 100%;
}

.ConName {
  column-span: all;
  text-align: center;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 10px;
}

.Africa {
  position: relative;
  columns: 6;
  column-gap: 0;
  width: 900px;
  height: max-content;
  left: 50px;
}

.America {
  position: relative;
  width: 900px;
  height: 425px;
  left: 50px;
  right: 50px;
  margin: 0;
  padding: 0;
}

.Caribbean {
  position: absolute;
  width: 225px;
}

.CAmerica {
  position: absolute;
  width: 225px;
  left: 225px;
}

.NAmerica {
  position: absolute;
  width: 225px;
  left: 450px;
}

.SAmerica {
  position: absolute;
  width: 225px;
  left: 675px;
}

.Asia {
  position: relative;
  width: 900px;
  left: 50px;
}

.Europe {
  position: relative;
  width: 900px;
  left: 50px;
}

.Oceania {
  position: relative;
  width: 900px;
  left: 50px;
}

.Title,
.Subtitle {
  position: relative;
  top: 25px;
  margin: 0;
  padding: 0;
}

.Title {
  font-size: 3rem;
  text-decoration: underline;
  text-underline-position: under;
}

.Subtitle {
  font-style: italic;
}

.flag {
  position: relative;
  border: 1px solid black;
  width: 900px;
  height: 600px;
  margin-bottom: 5%;
}

#Japan > .flag > .Outer-Flag {
  background-color: white;
}

#Japan > .flag > .Inner-Flag {
  position: relative;
  background-color: red;
  height: 50%;
  width: 33%;
  border-radius: 100%;
  margin: 0;
  padding: 0;
  left: 33%;
  top: 20%;
}
