body {
	display: grid;
	grid-template: 150px repeat(5, max-content) auto / 20% 60% 20%;
	grid-template-areas:
		". header ."
		". africa ."
		". america ."
		". asia ."
		". europe ."
		". oceania ."
		". footer .";
	margin: 0;
	padding: 0;
}

header {
	grid-area: header;
	font-family: "Roboto Slab", serif;
	text-align: center;
	background-color: black;
	color: whitesmoke;
	border: 10px inset red;
}

footer {
	grid-area: footer;
	text-align: center;
	background-color: grey;
	color: whitesmoke;
	border: 10px solid grey;
	margin-top: 5%;
	padding: 0;
}

h2 {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
}

.ConName {
	column-span: all;
	text-align: center;
	text-decoration: underline;
	width: 100%;
	margin-top: 3%;
	padding: 0;
}

.Africa {
	grid-area: africa;
	columns: 5;
	column-gap: 0;
	border: 1px solid black;
	/* width: 100%;
  height: auto;
  margin: 0;
  padding: 0; */
}

.America {
	grid-area: america;
	border: 1px solid black;
	display: grid;
	grid-auto-flow: column;
}

/* .America > .Caribbean {
  display: inline-block;
  border: 1px solid black;
  width: 25%;
  height: auto;
  margin: 0;
  padding: 0;
}

.America > .CAmerica {
  display: inline-block;
  border: 1px solid black;
  width: 25%;
  height: auto;
  margin: 0;
  padding: 0;
}

.America > .NAmerica {
  display: inline-block;
  border: 1px solid black;
  width: 25%;
  height: auto;
  margin: 0;
  padding: 0;
}

.America > .SAmerica {
  display: inline-block;
  border: 1px solid black;
  width: 20%;
  height: auto;
  margin: 0;
  padding: 0;
} */

.Asia {
	grid-area: asia;
	border: 1px solid black;
	/* margin: 0;
  padding: 0; */
}

/* .Asia > .CAsia {
  display: inline-block;
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

.Asia > .EAsia {
  display: inline-block;
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

.Asia > .SAsia {
  display: inline-block;
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

.Asia > .SEAsia {
  display: inline-block;
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

.Asia > .WAsia {
  display: inline-block;
  border: 1px solid black;
  margin: 0;
  padding: 0;
} */

.Europe {
	grid-area: europe;
	columns: 6;
	column-gap: 0;
	border: 1px solid black;
	/* width: 100%;
  height: auto;
  margin: 0;
  padding: 0; */
}

.Oceania {
	grid-area: oceania;
	border: 1px solid black;
	/* width: 100%;
  height: auto;
  bottom: 0; */
}

/* .Oceania > .Australasia {
  display: inline-block;
  border: 1px solid black;
}

.Oceania > .Melanesia {
  display: inline-block;
  border: 1px solid black;
}

.Oceania > .Micronesia {
  display: inline-block;
  border: 1px solid black;
  width: auto;
}

.Oceania > .Polynesia {
  display: inline-block;
  border: 1px solid black;
} */

.Title,
.Subtitle {
	top: 25px;
	margin: 0;
	padding: 0;
}

.Title {
	font-size: 3rem;
	text-decoration: underline;
	text-underline-position: under;
}

.Subtitle {
	font-style: italic;
}

/* .flag {
  position: relative;
  border: 1px solid black;
  width: 900px;
  height: 600px;
  margin-bottom: 5%;
}

#Japan > .flag > .Outer-Flag {
  background-color: white;
}

#Japan > .flag > .Inner-Flag {
  position: relative;
  background-color: red;
  height: 50%;
  width: 33%;
  border-radius: 100%;
  margin: 0;
  padding: 0;
  left: 33%;
  top: 20%;
} */
